---
http_interactions:
- request:
    method: post
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Thu, 26 Sep 2013 15:36:30 GMT
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"763545afb14977f862710f09ba2d1f7d35b9594b"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "763545afb14977f862710f09ba2d1f7d35b9594b",
        "portfolio_code": "25", "address": "new address", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/abc8f334-661f-4767-bf5f-e3890d920d87/",
        "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier": "03.448.307/9170-25",
        "agreement_code": "12345", "supplier_name": "Springfield Elemenary School",
        "advance_days": 10, "bank": "237", "uuid": "abc8f334-661f-4767-bf5f-e3890d920d87"}'
  recorded_at: Thu, 26 Sep 2013 15:36:30 GMT
recorded_with: VCR 2.5.0
