---
http_interactions:
- request:
    method: post
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","currency":9,"agreement_code":"12345","bank":"237"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 09 Oct 2013 20:58:44 GMT
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f9e1fb66b673d4cb8c0e976b94c0c23f699566b7"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "f9e1fb66b673d4cb8c0e976b94c0c23f699566b7",
        "portfolio_code": "25", "address": "new address", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/a6228adb-2d28-4160-8389-466ee5533289/",
        "zipcode": "29646", "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier":
        "03.448.307/9170-25", "our_number_range": [1, 99999999999999999999], "agreement_code":
        "12345", "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "a6228adb-2d28-4160-8389-466ee5533289"}'
  recorded_at: Wed, 09 Oct 2013 20:58:44 GMT
recorded_with: VCR 2.5.0
