---
http_interactions:
- request:
    method: post
    uri: http://:lZXYe7O3Qs%2BWaT3yNW4AXA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 18:25:39 GMT
- request:
    method: get
    uri: http://:lZXYe7O3Qs%2BWaT3yNW4AXA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a0f6b9c66baad21c87d150d5f6259881ffcc454f"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "a0f6b9c66baad21c87d150d5f6259881ffcc454f",
        "zipcode": "29646", "portfolio_code": "25", "address": "1608 Florida Avenue",
        "city_state": "Greenwood/SC", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/",
        "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier": "74.513.726/4256-88",
        "our_number_range": [1, 99999999999999999999], "agreement_code": "12345",
        "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "90338360-fa44-4311-97eb-300c2649a377"}'
  recorded_at: Mon, 14 Oct 2013 18:25:40 GMT
recorded_with: VCR 2.5.0
