---
http_interactions:
- request:
    method: post
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/92f85287-3151-4e6f-9861-ab1ea8112c97/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/92f85287-3151-4e6f-9861-ab1ea8112c97/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/92f85287-3151-4e6f-9861-ab1ea8112c97/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Tue, 01 Oct 2013 14:16:32 GMT
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/invoices/92f85287-3151-4e6f-9861-ab1ea8112c97/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"24983001fa7aa71489ef2fbefa5f96754ec2263b"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/92f85287-3151-4e6f-9861-ab1ea8112c97/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "92f85287-3151-4e6f-9861-ab1ea8112c97",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/92f85287-3151-4e6f-9861-ab1ea8112c97/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-01", "charging_features": [1, 2, 1, 2, 2], "instructions": []}'
  recorded_at: Tue, 01 Oct 2013 14:16:33 GMT
- request:
    method: delete
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/invoices/92f85287-3151-4e6f-9861-ab1ea8112c97/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"24983001fa7aa71489ef2fbefa5f96754ec2263b"'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Oct 2013 14:16:33 GMT
recorded_with: VCR 2.5.0
