---
http_interactions:
- request:
    method: post
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","currency":9,"agreement_code":"12345","bank":"237"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 09 Oct 2013 20:58:45 GMT
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bd9480e4e37a2c2d46319621f1c4f711d87b3bc9"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "bd9480e4e37a2c2d46319621f1c4f711d87b3bc9",
        "portfolio_code": "25", "address": "new address", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/",
        "zipcode": "29646", "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier":
        "03.448.307/9170-25", "our_number_range": [1, 99999999999999999999], "agreement_code":
        "12345", "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "f4b4e88d-5577-4285-a64a-e6b9ebf718e8"}'
  recorded_at: Wed, 09 Oct 2013 20:58:45 GMT
- request:
    method: delete
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/f4b4e88d-5577-4285-a64a-e6b9ebf718e8/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"bd9480e4e37a2c2d46319621f1c4f711d87b3bc9"'
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Oct 2013 20:58:46 GMT
recorded_with: VCR 2.5.0
