---
http_interactions:
- request:
    method: post
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","currency":9,"agreement_code":"12345","bank":"237"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Tue, 01 Oct 2013 16:14:17 GMT
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a248e1a59a42481695aeb29dcd9d8ab71f689634"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "a248e1a59a42481695aeb29dcd9d8ab71f689634",
        "portfolio_code": "25", "address": "new address", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/",
        "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier": "03.448.307/9170-25",
        "agreement_code": "12345", "supplier_name": "Springfield Elemenary School",
        "advance_days": 10, "bank": "237", "uuid": "8e6a179d-c041-4f69-befc-ae709a0d91a4"}'
  recorded_at: Tue, 01 Oct 2013 16:14:17 GMT
- request:
    method: delete
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/8e6a179d-c041-4f69-befc-ae709a0d91a4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"a248e1a59a42481695aeb29dcd9d8ab71f689634"'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Oct 2013 16:14:18 GMT
recorded_with: VCR 2.5.0
