---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"72801353150098","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/1b20a6a9-1dc8-43b3-8809-9becee06d088/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/1b20a6a9-1dc8-43b3-8809-9becee06d088/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 23 Sep 2013 17:49:49 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br/account/domains/1b20a6a9-1dc8-43b3-8809-9becee06d088/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"c768d2ca05687769f2c8f22438f2173a886725e2"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "1b20a6a9-1dc8-43b3-8809-9becee06d088", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/1b20a6a9-1dc8-43b3-8809-9becee06d088/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "Wyc0uAMcT5CU/gCCTD2feg==", "etag": "c768d2ca05687769f2c8f22438f2173a886725e2",
        "national_identifier": "72.801.353/1500-98", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Mon, 23 Sep 2013 17:49:50 GMT
- request:
    method: delete
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br/account/domains/1b20a6a9-1dc8-43b3-8809-9becee06d088/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - c768d2ca05687769f2c8f22438f2173a886725e2
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Sep 2013 17:49:51 GMT
recorded_with: VCR 2.5.0
