---
http_interactions:
- request:
    method: post
    uri: http://:lZXYe7O3Qs%2BWaT3yNW4AXA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 18:26:46 GMT
- request:
    method: get
    uri: http://:lZXYe7O3Qs%2BWaT3yNW4AXA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"45ed857c4cb0886be27a3e8280b8908820fc07b4"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "45ed857c4cb0886be27a3e8280b8908820fc07b4",
        "zipcode": "29646", "portfolio_code": "25", "address": "1608 Florida Avenue",
        "city_state": "Greenwood/SC", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac/",
        "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier": "74.513.726/4256-88",
        "our_number_range": [1, 99999999999999999999], "agreement_code": "12345",
        "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "ed13b4ed-4778-4966-bcd5-a2d2cdafb9ac"}'
  recorded_at: Mon, 14 Oct 2013 18:26:46 GMT
[...]
