---
http_interactions:
- request:
    method: get
    uri: http://:lZXYe7O3Qs%2BWaT3yNW4AXA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/banks/>; rel=banks,
        <http://sandbox.charging.financeconnect.com.br/charge-accounts/currencies/>;
        rel=currencies, <http://sandbox.charging.financeconnect.com.br/charge-accounts/charging-features/>;
        rel=charging_features
    body:
      encoding: UTF-8
      string: '[{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "a0f6b9c66baad21c87d150d5f6259881ffcc454f",
        "zipcode": "29646", "portfolio_code": "25", "address": "1608 Florida Avenue",
        "city_state": "Greenwood/SC", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/90338360-fa44-4311-97eb-300c2649a377/",
        "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier": "74.513.726/4256-88",
        "our_number_range": [1, 99999999999999999999], "agreement_code": "12345",
        "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "90338360-fa44-4311-97eb-300c2649a377"},
        {"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6", "number":
        12345}, "name": "Conta de cobran\u00e7a", "etag": "a9a2818d8c241202016637eb461ffa5d093755ce",
        "zipcode": "29646", "portfolio_code": "25", "address": "1608 Florida Avenue",
        "city_state": "Greenwood/SC", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/7b9cf0f2-d0bb-4700-8a44-d7d3da6e77a0/",
        "sequence_numbers": [1, 99[...]
