---
http_interactions:
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br/account/domains/?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"uuid": "154932d8-66b8-4e6b-82f5-ebb1d32fe85d", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/154932d8-66b8-4e6b-82f5-ebb1d32fe85d/",
        "supplier_name": "Acme El\u00e9trica Ltda", "zipcode": "20211360", "city_state":
        "Rio de Janeiro / RJ", "token": "QFX19bRGR6WUIEkKh5UEIg==", "etag": "e11877e49b4ac65b4b8d96c16012a20254312e74",
        "national_identifier": "73331840000100", "address": "Av. Nelson Cardoso, 123
        - Jacarepagu\u00e1", "description": "Descri\u00e7\u00e3o incr\u00edvel sobre
        a Acme El\u00e9trica"}]'
  recorded_at: Thu, 12 Sep 2013 18:14:26 GMT
recorded_with: VCR 2.5.0
