---
http_interactions:
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/banks/>; rel=banks,
        <http://sandbox.charging.financeconnect.com.br/charge-accounts/currencies/>;
        rel=currencies, <http://sandbox.charging.financeconnect.com.br/charge-accounts/charging-features/>;
        rel=charging_features
    body:
      encoding: UTF-8
      string: '[{"account": {"digit": "8", "number": 1234}, "agency": {"digit": "",
        "number": 354}, "name": "Conta de Cobran\u00e7a no Bradesco", "etag": "1b6c80c793cb047f5a8be084138a5b77b51697a7",
        "portfolio_code": "25", "address": "123 New Address St.", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/",
        "zipcode": "29646", "sequence_numbers": [1, 10], "currency": 9, "national_identifier":
        "03.448.307/9170-25", "our_number_range": [1, 10], "agreement_code": "1234",
        "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "29e77bc5-0e70-444c-a922-3149e78d905b"},
        {"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6", "number":
        12345}, "name": "Conta de cobran\u00e7a", "etag": "1104483f31cbb742c46be6e7648771d26e2e6406",
        "portfolio_code": "25", "address": "new address", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/215e2990-4d96-438b-8d95-2ff867d39182/",
        "zipcode": "29646", "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier":
[...]
