---
http_interactions:
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br/account/domains/?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/>; rel=service_account
    body:
      encoding: UTF-8
      string: '[{"uuid": "335ca81f-626f-44e2-9b72-da98333166b3", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/335ca81f-626f-44e2-9b72-da98333166b3/",
        "supplier_name": "Acme El\u00e9trica Ltda", "zipcode": "20211360", "city_state":
        "Rio de Janeiro / RJ", "token": "/VWsCyHHRrOF+pKv0Pbyfg==", "etag": "7145f1a617cb7a7a0089035d9f3a6db6aa56f8ee",
        "national_identifier": "73.331.840/0001-00", "address": "Av. Nelson Cardoso,
        123 - Jacarepagu\u00e1", "description": "Descri\u00e7\u00e3o incr\u00edvel
        sobre a Acme El\u00e9trica"}]'
  recorded_at: Fri, 20 Sep 2013 20:25:50 GMT
recorded_with: VCR 2.5.0
