---
http_interactions:
- request:
    method: post
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/invoices/6a6084a3-a0c0-42ab-94f8-d5e8c4b94d7f/pay/
    body:
      encoding: UTF-8
      string: '{"amount":"123.45","date":"2013-09-30"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"ce7b6d5a436b975345129e1838ba1f4600f7bb2d"'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"ce7b6d5a436b975345129e1838ba1f4600f7bb2d"'
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 30 Sep 2013 15:49:29 GMT
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/invoices/6a6084a3-a0c0-42ab-94f8-d5e8c4b94d7f/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ce7b6d5a436b975345129e1838ba1f4600f7bb2d"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/6a6084a3-a0c0-42ab-94f8-d5e8c4b94d7f/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/invoices/6a6084a3-a0c0-42ab-94f8-d5e8c4b94d7f/payments/>;
        rel=payments
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "6a6084a3-a0c0-42ab-94f8-d5e8c4b94d7f",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "our_number": 2, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/6a6084a3-a0c0-42ab-94f8-d5e8c4b94d7f/",
        "paid": "123.45", "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-09-27", "charging_features": [1, 2, 1, 2, 2], "instructions": []}'
  recorded_at: Mon, 30 Sep 2013 15:49:29 GMT
recorded_with: VCR 2.5.0
