---
http_interactions:
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3eede842d29d000ed5f5463481961e701ee9d502"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "8", "number": 1234}, "agency": {"digit": "",
        "number": 354}, "name": "Conta de Cobran\u00e7a no Bradesco", "etag": "3eede842d29d000ed5f5463481961e701ee9d502",
        "portfolio_code": "25", "address": "new address", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/",
        "sequence_numbers": [1, 10], "currency": 9, "national_identifier": "03.448.307/9170-25",
        "agreement_code": "1234", "supplier_name": "Springfield Elemenary School",
        "advance_days": 10, "bank": "237", "uuid": "29e77bc5-0e70-444c-a922-3149e78d905b"}'
  recorded_at: Tue, 01 Oct 2013 16:14:04 GMT
- request:
    method: delete
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"3eede842d29d000ed5f5463481961e701ee9d502"'
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>500 Internal Server Error</title>
        <h1>Internal Server Error</h1>
        <p>The server encountered an internal error and was unable to complete your request.  Either the server is overloaded or there is an error in the application.</p>
  recorded_at: Tue, 01 Oct 2013 16:14:05 GMT
recorded_with: VCR 2.5.0
