---
http_interactions:
- request:
    method: get
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"1b6c80c793cb047f5a8be084138a5b77b51697a7"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "8", "number": 1234}, "agency": {"digit": "",
        "number": 354}, "name": "Conta de Cobran\u00e7a no Bradesco", "etag": "1b6c80c793cb047f5a8be084138a5b77b51697a7",
        "portfolio_code": "25", "address": "123 New Address St.", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/",
        "zipcode": "29646", "sequence_numbers": [1, 10], "currency": 9, "national_identifier":
        "03.448.307/9170-25", "our_number_range": [1, 10], "agreement_code": "1234",
        "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "29e77bc5-0e70-444c-a922-3149e78d905b"}'
  recorded_at: Wed, 09 Oct 2013 20:58:49 GMT
- request:
    method: patch
    uri: http://:QNTGvpnYRVC4HbHibDBUIQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/
    body:
      encoding: UTF-8
      string: '{"address":"123 New Address St."}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"1b6c80c793cb047f5a8be084138a5b77b51697a7"'
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/>;
        rel=charge_account
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/29e77bc5-0e70-444c-a922-3149e78d905b/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Oct 2013 20:58:49 GMT
[...]
