---
http_interactions:
- request:
    method: patch
    uri: http://:lZXYe7O3Qs%2BWaT3yNW4AXA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/
    body:
      encoding: UTF-8
      string: '{"address":"123 New Address St."}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"be7365619ce1ddfc12d05e0786d79ade4e0ac4b3"'
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/>;
        rel=charge_account
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Oct 2013 18:26:49 GMT
- request:
    method: get
    uri: http://:lZXYe7O3Qs%2BWaT3yNW4AXA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"68d57e9ba12ac2c8c8017848003d1ac0118c7d68"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/batches/>;
        rel=batches, <http://sandbox.charging.financeconnect.com.br/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/batches/return/>;
        rel=return_files, <http://sandbox.charging.financeconnect.com.br/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/batches/return/>;
        rel=return_cnab, <http://sandbox.charging.financeconnect.com.br/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: '{"account": {"digit": "6", "number": 12345}, "agency": {"digit": "6",
        "number": 12345}, "name": "Conta de cobran\u00e7a", "etag": "68d57e9ba12ac2c8c8017848003d1ac0118c7d68",
        "zipcode": "29646", "portfolio_code": "25", "address": "123 New Address St.",
        "city_state": "Greenwood/SC", "uri": "http://sandbox.charging.financeconnect.com.br/charge-accounts/bd303c54-4426-4924-ba88-38205fcc6a89/",
        "sequence_numbers": [1, 9999999], "currency": 9, "national_identifier": "74.513.726/4256-88",
        "our_number_range": [1, 99999999999999999999], "agreement_code": "12345",
        "default_charging_features": [1, 2, 1, 2, 2], "supplier_name": "Springfield
        Elemenary School", "advance_days": 10, "bank": "237", "uuid": "bd303c54-4426-4924-ba88-38205fcc6a89"}'
  recorded_at: Mon, 14 Oct 2013 18:26:49 GMT
recorded_with: VCR 2.5.0
