---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"28967088183115","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/a5e395de-8009-4906-959a-608e8e8ad4bc/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/a5e395de-8009-4906-959a-608e8e8ad4bc/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Tue, 15 Oct 2013 22:56:56 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/a5e395de-8009-4906-959a-608e8e8ad4bc/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8729a6c63070964f53588aa5c3185d674ddc0756"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "a5e395de-8009-4906-959a-608e8e8ad4bc", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/a5e395de-8009-4906-959a-608e8e8ad4bc/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "AZSTgHYrSiKCVNRrTNseoQ==", "etag": "8729a6c63070964f53588aa5c3185d674ddc0756",
        "national_identifier": "28.967.088/1831-15", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Tue, 15 Oct 2013 22:56:56 GMT
- request:
    method: post
    uri: http://:AZSTgHYrSiKCVNRrTNseoQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/152c9c9d-ddfe-4c94-87e0-4db94379dbd5/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/152c9c9d-ddfe-4c94-87e0-4db94379dbd5/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Tue, 15 Oct 2013 22:56:57 GMT
- request:
    method: get
    uri: http://:AZSTgHYrSiKCVNRrTNseoQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/152c9c9d-ddfe-4c94-87e0-4db94379dbd5/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"72097b8b2f1011805aa319e57440dc44b69545f5"'
      Link:
      - <http://sandbox.ch[...]
