---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"96231098941859","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/0f1c6b15-63d6-4cc3-8193-88440665ad15/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/0f1c6b15-63d6-4cc3-8193-88440665ad15/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:27 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/0f1c6b15-63d6-4cc3-8193-88440665ad15/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0fc1b3230f512691f2528bec622dc8844a6965f0"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "0f1c6b15-63d6-4cc3-8193-88440665ad15", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/0f1c6b15-63d6-4cc3-8193-88440665ad15/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "LuR1Po0mSrefy1m/d2c3Dw==", "etag": "0fc1b3230f512691f2528bec622dc8844a6965f0",
        "national_identifier": "96.231.098/9418-59", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:26:27 GMT
- request:
    method: post
    uri: http://:LuR1Po0mSrefy1m%2Fd2c3Dw%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:28 GMT
- request:
    method: get
    uri: http://:LuR1Po0mSrefy1m%2Fd2c3Dw%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2e585875f931dfc6670acdf7a3c6fed86e22fccf"'
      Link:
      - <http://sandbox.[...]
- request:
    method: post
    uri: http://:LuR1Po0mSrefy1m%2Fd2c3Dw%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/62b19261-a9fb-4537-b261-f8a6305e84d0/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/62b19261-a9fb-4537-b261-f8a6305e84d0/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/62b19261-a9fb-4537-b261-f8a6305e84d0/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:29 GMT
- request:
    method: get
    uri: http://:LuR1Po0mSrefy1m%2Fd2c3Dw%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/62b19261-a9fb-4537-b261-f8a6305e84d0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"870e3ce86bc3945dd08cbe42ef91f03272e1c72b"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/62b19261-a9fb-4537-b261-f8a6305e84d0/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "62b19261-a9fb-4537-b261-f8a6305e84d0",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/62b19261-a9fb-4537-b261-f8a6305e84d0/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:26:30 GMT
- request:
    method: get
    uri: http://:LuR1Po0mSrefy1m%2Fd2c3Dw%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/5b832ade-465a-42a9-904c-8bf00a7fde4a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2e585875f931dfc6670acdf7a3c6fed86e22fccf"'
      Link:
      - <http://sandbox.charg[...]
