---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"72117654779434","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/24515cae-a4dc-4995-8514-caebf4b6d8d1/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/24515cae-a4dc-4995-8514-caebf4b6d8d1/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:34:04 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/24515cae-a4dc-4995-8514-caebf4b6d8d1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"01411250d464795a6a04c863286561b7c8f357b5"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "24515cae-a4dc-4995-8514-caebf4b6d8d1", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/24515cae-a4dc-4995-8514-caebf4b6d8d1/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "/pL5tOJ7TUiXzAeCdtW0KA==", "etag": "01411250d464795a6a04c863286561b7c8f357b5",
        "national_identifier": "72.117.654/7794-34", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:34:04 GMT
- request:
    method: post
    uri: http://:%2FpL5tOJ7TUiXzAeCdtW0KA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:34:05 GMT
- request:
    method: get
    uri: http://:%2FpL5tOJ7TUiXzAeCdtW0KA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"610397f0d269dac8893a9cb5b454974148094de8"'
      Link:
      - <http://sandbox.[...]
- request:
    method: post
    uri: http://:%2FpL5tOJ7TUiXzAeCdtW0KA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/0a878543-7905-4bd2-87e3-b59ed9c51847/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/0a878543-7905-4bd2-87e3-b59ed9c51847/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/0a878543-7905-4bd2-87e3-b59ed9c51847/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:34:06 GMT
- request:
    method: get
    uri: http://:%2FpL5tOJ7TUiXzAeCdtW0KA%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/0a878543-7905-4bd2-87e3-b59ed9c51847/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5e9c2a49c7beec56c1b103ed245b090d0fddc2a2"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/0a878543-7905-4bd2-87e3-b59ed9c51847/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "0a878543-7905-4bd2-87e3-b59ed9c51847",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/0a878543-7905-4bd2-87e3-b59ed9c51847/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:34:06 GMT
- request:
    method: get
    uri: http://:%2FpL5tOJ7TUiXzAeCdtW0KA%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"610397f0d269dac8893a9cb5b454974148094de8"'
      Link:
      - <http://sandbox.charg[...]
- request:
    method: delete
    uri: http://:%2FpL5tOJ7TUiXzAeCdtW0KA%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/0a878543-7905-4bd2-87e3-b59ed9c51847/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"5e9c2a49c7beec56c1b103ed245b090d0fddc2a2"'
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/bb90fbfa-56ba-4506-8496-725352116dff/invoices/>;
        rel=invoices
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Oct 2013 16:34:07 GMT
recorded_with: VCR 2.5.0
