---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"16828787930367","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/e7abf11d-1c12-4248-bd31-98ace80c8d64/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/e7abf11d-1c12-4248-bd31-98ace80c8d64/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:35 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/e7abf11d-1c12-4248-bd31-98ace80c8d64/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"991aaa1d3ef3ae6f32add7698434a4c096755b12"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "e7abf11d-1c12-4248-bd31-98ace80c8d64", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/e7abf11d-1c12-4248-bd31-98ace80c8d64/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "vvcGeDHbRlqxIemMSqXvZg==", "etag": "991aaa1d3ef3ae6f32add7698434a4c096755b12",
        "national_identifier": "16.828.787/9303-67", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:26:36 GMT
- request:
    method: post
    uri: http://:vvcGeDHbRlqxIemMSqXvZg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:36 GMT
- request:
    method: get
    uri: http://:vvcGeDHbRlqxIemMSqXvZg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"21dd5e7112d9918f422547dc23a51ba7574c8745"'
      Link:
      - <http://sandbox.ch[...]
- request:
    method: post
    uri: http://:vvcGeDHbRlqxIemMSqXvZg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/d3765c0d-9274-4162-ae2c-54abbd087b93/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/d3765c0d-9274-4162-ae2c-54abbd087b93/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/d3765c0d-9274-4162-ae2c-54abbd087b93/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:38 GMT
- request:
    method: get
    uri: http://:vvcGeDHbRlqxIemMSqXvZg%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/d3765c0d-9274-4162-ae2c-54abbd087b93/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"21b6db29385bcbdb0cb3cc0fcc04457ca1ff6916"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/d3765c0d-9274-4162-ae2c-54abbd087b93/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "d3765c0d-9274-4162-ae2c-54abbd087b93",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/d3765c0d-9274-4162-ae2c-54abbd087b93/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:26:38 GMT
- request:
    method: get
    uri: http://:vvcGeDHbRlqxIemMSqXvZg%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/5b7c15c4-af16-48a7-a97f-834c732dca70/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"21dd5e7112d9918f422547dc23a51ba7574c8745"'
      Link:
      - <http://sandbox.chargin[...]
[...]
