---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"03636356092556","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/685b2cee-875d-45d8-8754-4539a6b3698b/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/685b2cee-875d-45d8-8754-4539a6b3698b/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:47 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/685b2cee-875d-45d8-8754-4539a6b3698b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"dc519bd9c2cc7495dbd52eeff8cfe379f7646fae"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "685b2cee-875d-45d8-8754-4539a6b3698b", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/685b2cee-875d-45d8-8754-4539a6b3698b/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "lDnUT3qrTIi7BbuPBIsNAQ==", "etag": "dc519bd9c2cc7495dbd52eeff8cfe379f7646fae",
        "national_identifier": "03.636.356/0925-56", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:26:48 GMT
- request:
    method: post
    uri: http://:lDnUT3qrTIi7BbuPBIsNAQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:48 GMT
- request:
    method: get
    uri: http://:lDnUT3qrTIi7BbuPBIsNAQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"414973f5e8d3ecc361435623f65f22f3f675a061"'
      Link:
      - <http://sandbox.ch[...]
- request:
    method: post
    uri: http://:lDnUT3qrTIi7BbuPBIsNAQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:50 GMT
- request:
    method: get
    uri: http://:lDnUT3qrTIi7BbuPBIsNAQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ff1cf50d515d9b0eee5dd609926fba1cef4efbee"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "ecf0c9a8-f9c5-4c52-991f-b8009f875b54",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:26:51 GMT
- request:
    method: get
    uri: http://:lDnUT3qrTIi7BbuPBIsNAQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/38dbdd9d-f0ab-481b-9349-0d2f92d7939e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"414973f5e8d3ecc361435623f65f22f3f675a061"'
      Link:
      - <http://sandbox.chargin[...]
- request:
    method: get
    uri: http://:lDnUT3qrTIi7BbuPBIsNAQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/billet/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"1541de46f44253047d84fac26279a33bb9c5f36b"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/>;
        rel=invoice
    body:
      encoding: UTF-8
      string: '{"billet": "http://sandbox.charging.financeconnect.com.br/billets/ecf0c9a8-f9c5-4c52-991f-b8009f875b54/31f396f9a61e407ab58292f917683756/"}'
  recorded_at: Wed, 16 Oct 2013 16:26:52 GMT
recorded_with: VCR 2.5.0
