---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"89928689300860","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <https://sandbox.charging.financeconnect.com.br/account/domains/e40bdb39-5339-47bc-99db-ac602de59739/>;
        rel=domain, <https://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - https://sandbox.charging.financeconnect.com.br/account/domains/e40bdb39-5339-47bc-99db-ac602de59739/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Thu, 17 Oct 2013 18:48:59 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/e40bdb39-5339-47bc-99db-ac602de59739/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9f1964f26676794956bd6940712eeded00f55766"'
      Link:
      - <https://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <https://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <https://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <https://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "e40bdb39-5339-47bc-99db-ac602de59739", "uri": "https://sandbox.charging.financeconnect.com.br/account/domains/e40bdb39-5339-47bc-99db-ac602de59739/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "Y8tSVN7nQSyJiwGZEkPwzw==", "etag": "9f1964f26676794956bd6940712eeded00f55766",
        "national_identifier": "89.928.689/3008-60", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Thu, 17 Oct 2013 18:49:02 GMT
- request:
    method: get
    uri: http://:Y8tSVN7nQSyJiwGZEkPwzw%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/kinds/?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ef19498467c247b237adbdf5990f5e81a1d761e4"'
      Link:
      - <https://sandbox.charging.financeconnect.com.br/invoices/kinds/?limit=10&page=2>;
        rel=next
    body:
      encoding: UTF-8
      string: '[{"acronym": "CH", "itau_code": null, "code": 1, "name": "Cheque"},
        {"acronym": "DM", "itau_code": 1, "code": 2, "name": "Duplicata Mercantil"},
        {"acronym": "DMI", "itau_code": null, "code": 3, "name": "Duplicata Mercantil
        p/ Indica\u00e7\u00e3o"}, {"acronym": "DS", "itau_code": 8, "code": 4, "name":
        "Duplicata de Servi\u00e7o"}, {"acronym": "DSI", "itau_code": null, "code":
        5, "name": "Duplicata de Servi\u00e7o p/ Indica\u00e7\u00e3o"}, {"acronym":
        "DR", "itau_code": null, "code": 6, "name": "Duplicata Rural"}, {"acronym":
        "LC", "itau_code": 9, "code": 7, "name": "Letra de C\u00e2mbio"}, {"acronym":
        "NCC", "itau_code": null, "code": 8, "name": "Nota de Cr\u00e9dito Comercial"},
        {"acronym": "NCE", "itau_code": null, "code": 9, "name": "Nota de Cr\u00e9dito
        a Exporta\u00e7\u00e3o"}, {"acronym": "NCI", "itau_code": null, "code": 10,
        "name": "Nota de Cr\u00e9dito Industrial"}]'
  recorded_at: Thu, 17 Oct 2013 18:49:03 GMT
[...]
