---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"73597607165688","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/829b5330-87cf-49c2-936b-525589bd8ee7/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/829b5330-87cf-49c2-936b-525589bd8ee7/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:29:12 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/829b5330-87cf-49c2-936b-525589bd8ee7/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"73bcdeee84aaef6f69868c01cb02021a3669b130"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "829b5330-87cf-49c2-936b-525589bd8ee7", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/829b5330-87cf-49c2-936b-525589bd8ee7/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "6vo+hAv0Tw6/xGUDvBDmdg==", "etag": "73bcdeee84aaef6f69868c01cb02021a3669b130",
        "national_identifier": "73.597.607/1656-88", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:29:13 GMT
- request:
    method: post
    uri: http://:6vo%2BhAv0Tw6%2FxGUDvBDmdg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:29:15 GMT
- request:
    method: get
    uri: http://:6vo%2BhAv0Tw6%2FxGUDvBDmdg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2dd5fa9bf12891047cfa26c91634e976f9d9972a"'
      Link:
      - <http://sandbo[...]
- request:
    method: post
    uri: http://:6vo%2BhAv0Tw6%2FxGUDvBDmdg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:29:16 GMT
- request:
    method: get
    uri: http://:6vo%2BhAv0Tw6%2FxGUDvBDmdg%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"92f33e6f7c7cc4c3b11b771418029ec9954d9a80"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "5054ecb1-b4b8-4b5f-818e-43c722279b61",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:29:17 GMT
- request:
    method: get
    uri: http://:6vo%2BhAv0Tw6%2FxGUDvBDmdg%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/d91707d3-6f56-46e6-86a4-2fb9756cd10b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2dd5fa9bf12891047cfa26c91634e976f9d9972a"'
      Link:
      - <http://sandbox.cha[...]
- request:
    method: get
    uri: http://:6vo%2BhAv0Tw6%2FxGUDvBDmdg%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/payments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/5054ecb1-b4b8-4b5f-818e-43c722279b61/>;
        rel=invoice
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Wed, 16 Oct 2013 16:29:18 GMT
recorded_with: VCR 2.5.0
