---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"75052128174600","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/4d30229f-643c-4f79-bf5a-fb5dd7b8a488/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/4d30229f-643c-4f79-bf5a-fb5dd7b8a488/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:29:51 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/4d30229f-643c-4f79-bf5a-fb5dd7b8a488/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5840ee0988002297c12381e6432348844a563dee"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "4d30229f-643c-4f79-bf5a-fb5dd7b8a488", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/4d30229f-643c-4f79-bf5a-fb5dd7b8a488/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "/4xHytp9T5ak3rZmsq9hNQ==", "etag": "5840ee0988002297c12381e6432348844a563dee",
        "national_identifier": "75.052.128/1746-00", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:29:52 GMT
- request:
    method: post
    uri: http://:%2F4xHytp9T5ak3rZmsq9hNQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:29:53 GMT
- request:
    method: get
    uri: http://:%2F4xHytp9T5ak3rZmsq9hNQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2b713b9067303d1d2bc98429f492f57810a9f8ed"'
      Link:
      - <http://sandbox.[...]
- request:
    method: post
    uri: http://:%2F4xHytp9T5ak3rZmsq9hNQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:29:54 GMT
- request:
    method: get
    uri: http://:%2F4xHytp9T5ak3rZmsq9hNQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0a92310276648c555b50af0b29d728519d3fdf19"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "a89d6e68-fc9d-4126-8db4-b269261961b4",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:29:55 GMT
- request:
    method: get
    uri: http://:%2F4xHytp9T5ak3rZmsq9hNQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/eeef7d17-ef36-4d7d-ad92-7fcd26f20933/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2b713b9067303d1d2bc98429f492f57810a9f8ed"'
      Link:
      - <http://sandbox.charg[...]
- request:
    method: post
    uri: http://:%2F4xHytp9T5ak3rZmsq9hNQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/pay/
    body:
      encoding: UTF-8
      string: '{"amount":123.45,"date":"2013-10-16"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0a92310276648c555b50af0b29d728519d3fdf19"'
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"e3b475573236e18a6b9d727b9beb7d616aea4235"'
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:29:56 GMT
[...]
- request:
    method: get
    uri: http://:%2F4xHytp9T5ak3rZmsq9hNQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/payments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/>;
        rel=invoice
    body:
      encoding: UTF-8
      string: '[{"date": "2013-10-16", "amount": "123.45", "group": "http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/payments/",
        "uuid": "a3fbcabb-69ab-4cae-906a-ecbe1bdfa066", "invoice": "http://sandbox.charging.financeconnect.com.br/invoices/a89d6e68-fc9d-4126-8db4-b269261961b4/"}]'
  recorded_at: Wed, 16 Oct 2013 16:29:58 GMT
recorded_with: VCR 2.5.0
