---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"72502130778495","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/aedbbd27-4d88-449f-9d23-d3deed63d940/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/aedbbd27-4d88-449f-9d23-d3deed63d940/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:27:02 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/aedbbd27-4d88-449f-9d23-d3deed63d940/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bb60ed3f82fe37660dcdb2d3aec06ca7c7a7723e"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "aedbbd27-4d88-449f-9d23-d3deed63d940", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/aedbbd27-4d88-449f-9d23-d3deed63d940/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "aT/t0OD9RbC6zIsm3oPXkQ==", "etag": "bb60ed3f82fe37660dcdb2d3aec06ca7c7a7723e",
        "national_identifier": "72.502.130/7784-95", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:27:03 GMT
- request:
    method: post
    uri: http://:aT%2Ft0OD9RbC6zIsm3oPXkQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:27:04 GMT
- request:
    method: get
    uri: http://:aT%2Ft0OD9RbC6zIsm3oPXkQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ef65496ea082d0f770cf758b80c4b57e543642dc"'
      Link:
      - <http://sandbox.[...]
- request:
    method: post
    uri: http://:aT%2Ft0OD9RbC6zIsm3oPXkQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/57f04fb1-4721-4287-b524-12f8126b4240/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/57f04fb1-4721-4287-b524-12f8126b4240/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/57f04fb1-4721-4287-b524-12f8126b4240/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:27:05 GMT
- request:
    method: get
    uri: http://:aT%2Ft0OD9RbC6zIsm3oPXkQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/57f04fb1-4721-4287-b524-12f8126b4240/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"73d80a6417de641186f62cd5f1893429f614f4c4"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/57f04fb1-4721-4287-b524-12f8126b4240/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "57f04fb1-4721-4287-b524-12f8126b4240",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/57f04fb1-4721-4287-b524-12f8126b4240/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:27:06 GMT
- request:
    method: get
    uri: http://:aT%2Ft0OD9RbC6zIsm3oPXkQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/b2813a3b-34a7-40e4-bf63-30a8d2dfa45a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ef65496ea082d0f770cf758b80c4b57e543642dc"'
      Link:
      - <http://sandbox.charg[...]
