---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"39231945529100","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/27d21e9f-ba3d-41f4-91c3-017c402d1341/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/27d21e9f-ba3d-41f4-91c3-017c402d1341/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:57 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/27d21e9f-ba3d-41f4-91c3-017c402d1341/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"e40c3a0cac70f12034b53d7cd84629eea8e8051a"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "27d21e9f-ba3d-41f4-91c3-017c402d1341", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/27d21e9f-ba3d-41f4-91c3-017c402d1341/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "2hooY16PQtqu6+ur9WAeow==", "etag": "e40c3a0cac70f12034b53d7cd84629eea8e8051a",
        "national_identifier": "39.231.945/5291-00", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:26:58 GMT
- request:
    method: post
    uri: http://:2hooY16PQtqu6%2Bur9WAeow%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:59 GMT
- request:
    method: get
    uri: http://:2hooY16PQtqu6%2Bur9WAeow%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bc59d0aa09f972b98a2fd91fe3ba6c3964ac3bcd"'
      Link:
      - <http://sandbox.[...]
- request:
    method: post
    uri: http://:2hooY16PQtqu6%2Bur9WAeow%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/44637284-1329-426f-b50d-46e133f07026/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/44637284-1329-426f-b50d-46e133f07026/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/44637284-1329-426f-b50d-46e133f07026/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:27:01 GMT
- request:
    method: get
    uri: http://:2hooY16PQtqu6%2Bur9WAeow%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/44637284-1329-426f-b50d-46e133f07026/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4cecb786d3771b3fd7ed5caf7248ed283c0095e1"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/44637284-1329-426f-b50d-46e133f07026/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "44637284-1329-426f-b50d-46e133f07026",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/44637284-1329-426f-b50d-46e133f07026/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:27:01 GMT
- request:
    method: get
    uri: http://:2hooY16PQtqu6%2Bur9WAeow%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/64181dd5-2c47-49b6-b197-3f79ff8b44be/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bc59d0aa09f972b98a2fd91fe3ba6c3964ac3bcd"'
      Link:
      - <http://sandbox.charg[...]
