---
http_interactions:
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains
    body:
      encoding: UTF-8
      string: '{"plan": "full", "uri": "http://sandbox.app.passaporteweb.com.br/organizations/api/accounts/3a0676fb-6639-466a-ac35-9ea7c5f67386/",
        "uuid": "3a0676fb-6639-466a-ac35-9ea7c5f67386", "name": "Teste cliente Ruby"}'
  recorded_at: Wed, 16 Oct 2013 01:40:13 GMT
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"33164217201337","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/602e8ccd-1c15-4fd4-8cf5-7f9f12aba7bd/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/602e8ccd-1c15-4fd4-8cf5-7f9f12aba7bd/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 01:40:14 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/602e8ccd-1c15-4fd4-8cf5-7f9f12aba7bd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"cb94f3d84c7ae2a01d317f7017c9112f2477c99c"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "602e8ccd-1c15-4fd4-8cf5-7f9f12aba7bd", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/602e8ccd-1c15-4fd4-8cf5-7f9f12aba7bd/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "uZX87oitQHC3j3Ms70YYiQ==", "etag": "cb94f3d84c7ae2a01d317f7017c9112f2477c99c",
        "national_identifier": "33.164.217/2013-37", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 01:40:14 GMT
- request:
    method: post
    uri: http://:uZX87oitQHC3j3Ms70YYiQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 01:40:15 GMT
- request:
    method: get
    uri: http://:uZX87oitQHC3j3Ms70YYiQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8a87c073ba8be377e089da1a6a7409df2628225c"'
      Link:
      - <http://sandbox.ch[...]
- request:
    method: post
    uri: http://:uZX87oitQHC3j3Ms70YYiQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/efad7bed-7905-4c05-9384-a403ddd77b20/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/efad7bed-7905-4c05-9384-a403ddd77b20/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/efad7bed-7905-4c05-9384-a403ddd77b20/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 01:40:16 GMT
- request:
    method: get
    uri: http://:uZX87oitQHC3j3Ms70YYiQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/efad7bed-7905-4c05-9384-a403ddd77b20/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9fa415a72de53eea62bfaa4f11d93bb83cf6567b"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/efad7bed-7905-4c05-9384-a403ddd77b20/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "efad7bed-7905-4c05-9384-a403ddd77b20",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/efad7bed-7905-4c05-9384-a403ddd77b20/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-15", "charging_features": [1, 2, 1, 2, 2], "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 01:40:16 GMT
- request:
    method: get
    uri: http://:uZX87oitQHC3j3Ms70YYiQ%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/8e5deac0-df88-4408-ba22-54aa64cd93ef/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8a87c073ba8be377e089da1a6a7409df2628225c"'
      Link:
      - <http://sandbox.chargin[...]
