---
http_interactions:
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains
    body:
      encoding: UTF-8
      string: '{"plan": "full", "uri": "http://sandbox.app.passaporteweb.com.br/organizations/api/accounts/3a0676fb-6639-466a-ac35-9ea7c5f67386/",
        "uuid": "3a0676fb-6639-466a-ac35-9ea7c5f67386", "name": "Teste cliente Ruby"}'
  recorded_at: Wed, 16 Oct 2013 00:42:55 GMT
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"15758310604328","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/3df54875-65f7-43b0-8014-74a1dfb5db83/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/3df54875-65f7-43b0-8014-74a1dfb5db83/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 00:42:55 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/3df54875-65f7-43b0-8014-74a1dfb5db83/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0e93b95c052f0d342e50967f625004c4d933351f"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "3df54875-65f7-43b0-8014-74a1dfb5db83", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/3df54875-65f7-43b0-8014-74a1dfb5db83/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "X9DI9q4hSNSPCHCNhnlxAg==", "etag": "0e93b95c052f0d342e50967f625004c4d933351f",
        "national_identifier": "15.758.310/6043-28", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 00:42:56 GMT
- request:
    method: post
    uri: http://:X9DI9q4hSNSPCHCNhnlxAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 00:42:56 GMT
- request:
    method: get
    uri: http://:X9DI9q4hSNSPCHCNhnlxAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0b9afad7bd811933e48f8aa99a0a577c166072f8"'
      Link:
      - <http://sandbox.ch[...]
- request:
    method: post
    uri: http://:X9DI9q4hSNSPCHCNhnlxAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/9549ab41-11f3-4af3-850c-ec883d300f72/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/9549ab41-11f3-4af3-850c-ec883d300f72/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/9549ab41-11f3-4af3-850c-ec883d300f72/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 00:42:57 GMT
- request:
    method: get
    uri: http://:X9DI9q4hSNSPCHCNhnlxAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/9549ab41-11f3-4af3-850c-ec883d300f72/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"be38dbf1285908665df9d1f295e2e68414225565"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/9549ab41-11f3-4af3-850c-ec883d300f72/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "9549ab41-11f3-4af3-850c-ec883d300f72",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/9549ab41-11f3-4af3-850c-ec883d300f72/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-15", "charging_features": [1, 2, 1, 2, 2], "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 00:42:58 GMT
- request:
    method: get
    uri: http://:X9DI9q4hSNSPCHCNhnlxAg%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/5eb7be19-b986-45cd-8af8-9a388e50637e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0b9afad7bd811933e48f8aa99a0a577c166072f8"'
      Link:
      - <http://sandbox.chargin[...]
