---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"71628455479203","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/60c592c5-3579-42dc-beb2-b63e5d35323a/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/60c592c5-3579-42dc-beb2-b63e5d35323a/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:27:07 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/60c592c5-3579-42dc-beb2-b63e5d35323a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"08236549ff64c468de0fbd4b184cca16d0fd0bed"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "60c592c5-3579-42dc-beb2-b63e5d35323a", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/60c592c5-3579-42dc-beb2-b63e5d35323a/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "DKhmtggYR8yMRi8a/cmsNA==", "etag": "08236549ff64c468de0fbd4b184cca16d0fd0bed",
        "national_identifier": "71.628.455/4792-03", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:27:07 GMT
- request:
    method: post
    uri: http://:DKhmtggYR8yMRi8a%2FcmsNA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:27:08 GMT
- request:
    method: get
    uri: http://:DKhmtggYR8yMRi8a%2FcmsNA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"538a39dc7099ff87848b27ad951db38b67f9c841"'
      Link:
      - <http://sandbox.[...]
- request:
    method: post
    uri: http://:DKhmtggYR8yMRi8a%2FcmsNA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/cbed7557-283b-4902-8019-6801d2968456/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/cbed7557-283b-4902-8019-6801d2968456/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/cbed7557-283b-4902-8019-6801d2968456/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:27:10 GMT
- request:
    method: get
    uri: http://:DKhmtggYR8yMRi8a%2FcmsNA%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/cbed7557-283b-4902-8019-6801d2968456/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8fc118a6638633e96d348f2aef5fced8c0384496"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/cbed7557-283b-4902-8019-6801d2968456/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "cbed7557-283b-4902-8019-6801d2968456",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/cbed7557-283b-4902-8019-6801d2968456/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:27:10 GMT
- request:
    method: get
    uri: http://:DKhmtggYR8yMRi8a%2FcmsNA%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/c685f56e-7aad-495f-9ca4-73fd932f95ef/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"538a39dc7099ff87848b27ad951db38b67f9c841"'
      Link:
      - <http://sandbox.charg[...]
