---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"56388619124570","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/6e1f1cd0-bf06-4cb9-b65d-275406810ce9/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/6e1f1cd0-bf06-4cb9-b65d-275406810ce9/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:24 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/6e1f1cd0-bf06-4cb9-b65d-275406810ce9/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"206b1a8b7648eb4ef45eb9371367faf83903b87b"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "6e1f1cd0-bf06-4cb9-b65d-275406810ce9", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/6e1f1cd0-bf06-4cb9-b65d-275406810ce9/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "TNmpCz1xQ0qS1t6x2aZ2XA==", "etag": "206b1a8b7648eb4ef45eb9371367faf83903b87b",
        "national_identifier": "56.388.619/1245-70", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:26:24 GMT
- request:
    method: post
    uri: http://:TNmpCz1xQ0qS1t6x2aZ2XA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/b25c8813-beea-45ba-8bf9-358da9086849/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/b25c8813-beea-45ba-8bf9-358da9086849/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:25 GMT
- request:
    method: get
    uri: http://:TNmpCz1xQ0qS1t6x2aZ2XA%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/b25c8813-beea-45ba-8bf9-358da9086849/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"e20fbc8fe08df80734e9cf887bd2bdb26091b73d"'
      Link:
      - <http://sandbox.ch[...]
