---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"96254673071672","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/c21e9fd6-f025-4b81-ac7d-de296ab570c9/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/c21e9fd6-f025-4b81-ac7d-de296ab570c9/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:42 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/c21e9fd6-f025-4b81-ac7d-de296ab570c9/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"e798b8c689b6b2dbb10dfa764a7812debbda1190"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "c21e9fd6-f025-4b81-ac7d-de296ab570c9", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/c21e9fd6-f025-4b81-ac7d-de296ab570c9/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "+5XcLeO4QZGTSUpCzwovAg==", "etag": "e798b8c689b6b2dbb10dfa764a7812debbda1190",
        "national_identifier": "96.254.673/0716-72", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:26:42 GMT
- request:
    method: post
    uri: http://:%2B5XcLeO4QZGTSUpCzwovAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:43 GMT
- request:
    method: get
    uri: http://:%2B5XcLeO4QZGTSUpCzwovAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"fe82f6fdb243573036f19792cb7a1c52be184a3b"'
      Link:
      - <http://sandbox.[...]
- request:
    method: post
    uri: http://:%2B5XcLeO4QZGTSUpCzwovAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/c5f58381-982c-46b3-9350-8144db290460/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/c5f58381-982c-46b3-9350-8144db290460/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/c5f58381-982c-46b3-9350-8144db290460/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:46 GMT
- request:
    method: get
    uri: http://:%2B5XcLeO4QZGTSUpCzwovAg%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/c5f58381-982c-46b3-9350-8144db290460/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4efd3b88a9d90557b474f350f21896da1f5d8287"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/c5f58381-982c-46b3-9350-8144db290460/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "c5f58381-982c-46b3-9350-8144db290460",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/c5f58381-982c-46b3-9350-8144db290460/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:26:46 GMT
- request:
    method: get
    uri: http://:%2B5XcLeO4QZGTSUpCzwovAg%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/84a79a91-573d-48c0-8602-212294326db4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"fe82f6fdb243573036f19792cb7a1c52be184a3b"'
      Link:
      - <http://sandbox.charg[...]
