---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"23715675018674","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/41dc891d-db8b-4bff-9e91-a46048076181/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/41dc891d-db8b-4bff-9e91-a46048076181/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:40:49 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/41dc891d-db8b-4bff-9e91-a46048076181/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ecf850fd2de47a53e366e29e1ffe999bae098ce7"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "41dc891d-db8b-4bff-9e91-a46048076181", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/41dc891d-db8b-4bff-9e91-a46048076181/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "IiFAj7n2R5Wy1tlbtqly3Q==", "etag": "ecf850fd2de47a53e366e29e1ffe999bae098ce7",
        "national_identifier": "23.715.675/0186-74", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:40:51 GMT
- request:
    method: post
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:40:52 GMT
- request:
    method: get
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"02c336f97b6e23f9ca1014c2d43d937905401fab"'
      Link:
      - <http://sandbox.ch[...]
- request:
    method: post
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/invoices/
    body:
      encoding: UTF-8
      string: '{"kind":2,"amount":123.45,"document_number":"000000000000001","drawee":{"name":"Nome
        do Sacado","address":"Rua do Carmo, 43","city_state":"Rio de Janeiro/RJ","zipcode":"21345-999","national_identifier":"37.818.380/0001-86"},"due_date":"2020-12-31","portfolio_code":null,"charging_features":null,"supplier_name":null,"discount":null,"interest":null,"rebate":null,"ticket":null,"protest_code":null,"protest_days":null,"instructions":null,"demonstrative":null,"our_number":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/>;
        rel=invoice, <http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/billet/>;
        rel=billet, <http://sandbox.charging.financeconnect.com.br/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/invoices/>;
        rel=invoices
      Location:
      - http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:40:55 GMT
- request:
    method: get
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"b13b0cebb9aae707781651599640b8eb7bedf9ff"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/billet/>;
        rel=billet
    body:
      encoding: UTF-8
      string: '{"due_date": "2020-12-31", "kind": 2, "uuid": "c2009f63-8198-4415-9a4a-1cf81d27c56a",
        "drawee": {"name": "Nome do Sacado", "city_state": "Rio de Janeiro / RJ",
        "zipcode": "21345999", "national_identifier": "37.818.380/0001-86", "address":
        "Rua do Carmo, 43", "quarter": ""}, "document_number": "000000000000001",
        "demonstrative": [], "uri": "http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/",
        "paid": 0, "charge_account": "http://sandbox.charging.financeconnect.com.br/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/",
        "discount": null, "amount": "123.45", "interest": {"date": 0, "amount": "0.00",
        "type": 0}, "supplier_name": "Springfield Elemenary School", "document_date":
        "2013-10-16", "charging_features": [1, 2, 1, 2, 2], "portfolio_code": "25",
        "instructions": []}'
  recorded_at: Wed, 16 Oct 2013 16:40:58 GMT
- request:
    method: get
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br/charge-accounts/b477e19a-bdfb-4589-87df-69b88b1e3e48/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"02c336f97b6e23f9ca1014c2d43d937905401fab"'
      Link:
      - <http://sandbox.chargin[...]
- request:
    method: post
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/pay/
    body:
      encoding: UTF-8
      string: '{"amount":123.45,"date":"2013-10-16"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"b13b0cebb9aae707781651599640b8eb7bedf9ff"'
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"7ce21e2cf2c9c4bf16d0c364ef32e555ac0a6a6e"'
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:41:00 GMT
[...]
- request:
    method: get
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/payments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/>;
        rel=invoice
    body:
      encoding: UTF-8
      string: '[{"date": "2013-10-16", "amount": "123.45", "group": "http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/payments/",
        "uuid": "a7540a79-7145-4e34-b012-60f6feddc4c5", "invoice": "http://sandbox.charging.financeconnect.com.br/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/"}]'
  recorded_at: Wed, 16 Oct 2013 16:41:01 GMT
- request:
    method: delete
    uri: http://:IiFAj7n2R5Wy1tlbtqly3Q%3D%3D@sandbox.charging.financeconnect.com.br:8080/invoices/c2009f63-8198-4415-9a4a-1cf81d27c56a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"7ce21e2cf2c9c4bf16d0c364ef32e555ac0a6a6e"'
  response:
    status:
      code: 405
      message: METHOD NOT ALLOWED
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>405 Method Not Allowed</title>
        <h1>Method Not Allowed</h1>
        <p>The method is not allowed for the requested URL.</p>
  recorded_at: Wed, 16 Oct 2013 16:41:02 GMT
recorded_with: VCR 2.5.0
