---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"65259402401732","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/60e0d820-5458-435b-b5ce-e0e9b3e97e3b/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/60e0d820-5458-435b-b5ce-e0e9b3e97e3b/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Wed, 16 Oct 2013 16:26:26 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/60e0d820-5458-435b-b5ce-e0e9b3e97e3b/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"75817da4c772b9acf97fa08a5d520cb6c8bc81b2"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "60e0d820-5458-435b-b5ce-e0e9b3e97e3b", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/60e0d820-5458-435b-b5ce-e0e9b3e97e3b/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "mrQegLkhRduPyHOEBX6mCA==", "etag": "75817da4c772b9acf97fa08a5d520cb6c8bc81b2",
        "national_identifier": "65.259.402/4017-32", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Wed, 16 Oct 2013 16:26:26 GMT
recorded_with: VCR 2.5.0
