---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"62444802073889","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/2f93e5b0-42c5-49c9-8554-27f0d30c35b9/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/2f93e5b0-42c5-49c9-8554-27f0d30c35b9/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 22:28:30 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/2f93e5b0-42c5-49c9-8554-27f0d30c35b9/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"dce102d78ed783a1a0a1f5a6307084748b8d6884"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "2f93e5b0-42c5-49c9-8554-27f0d30c35b9", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/2f93e5b0-42c5-49c9-8554-27f0d30c35b9/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "/BhWUvOSSpinaScbIhh5Xw==", "etag": "dce102d78ed783a1a0a1f5a6307084748b8d6884",
        "national_identifier": "62.444.802/0738-89", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Mon, 14 Oct 2013 22:28:30 GMT
- request:
    method: post
    uri: http://:%2FBhWUvOSSpinaScbIhh5Xw%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/9ca1496c-db41-4e49-9878-dbe6029cb339/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/9ca1496c-db41-4e49-9878-dbe6029cb339/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 22:28:31 GMT
- request:
    method: get
    uri: http://:%2FBhWUvOSSpinaScbIhh5Xw%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/9ca1496c-db41-4e49-9878-dbe6029cb339/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"95e91ded8038312afc91126c8dd221a32259c93c"'
      Link:
      - <http://sandbox.[...]
[...]
