---
http_interactions:
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains
    body:
      encoding: UTF-8
      string: '{"plan": "full", "uri": "http://sandbox.app.passaporteweb.com.br/organizations/api/accounts/3a0676fb-6639-466a-ac35-9ea7c5f67386/",
        "uuid": "3a0676fb-6639-466a-ac35-9ea7c5f67386", "name": "Teste cliente Ruby"}'
  recorded_at: Mon, 14 Oct 2013 22:14:15 GMT
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"90033366662535","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/beec7c06-1715-4019-8033-cfe4355cefa6/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/beec7c06-1715-4019-8033-cfe4355cefa6/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 22:14:15 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/beec7c06-1715-4019-8033-cfe4355cefa6/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a16ffb1b0e27ecb379619cfa9f54447ccf8f26d1"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "beec7c06-1715-4019-8033-cfe4355cefa6", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/beec7c06-1715-4019-8033-cfe4355cefa6/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "yHiUnVslTKePsgshg3GFTQ==", "etag": "a16ffb1b0e27ecb379619cfa9f54447ccf8f26d1",
        "national_identifier": "90.033.366/6625-35", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Mon, 14 Oct 2013 22:14:15 GMT
- request:
    method: post
    uri: http://:yHiUnVslTKePsgshg3GFTQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/
    body:
      encoding: UTF-8
      string: '{"account":{"number":"12345","digit":"6"},"agency":{"number":"12345","digit":"6"},"name":"Conta
        de cobrança","portfolio_code":"25","address":null,"zipcode":null,"sequence_numbers":null,"currency":9,"agreement_code":"12345","supplier_name":null,"advance_days":null,"bank":"237","our_number_range":null,"default_charging_features":null,"city_state":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/acea26f6-76aa-47bc-b7d8-3b82e2a83e62/>;
        rel=charge_account, <http://sandbox.charging.financeconnect.com.br/charge-accounts/>;
        rel=charge_accounts
      Location:
      - http://sandbox.charging.financeconnect.com.br/charge-accounts/acea26f6-76aa-47bc-b7d8-3b82e2a83e62/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 22:14:16 GMT
- request:
    method: get
    uri: http://:yHiUnVslTKePsgshg3GFTQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/acea26f6-76aa-47bc-b7d8-3b82e2a83e62/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"86764a0a4999f4f584f17e5e569e31028399a7a4"'
      Link:
      - <http://sandbox.ch[...]
[...]
- request:
    method: get
    uri: http://:yHiUnVslTKePsgshg3GFTQ%3D%3D@sandbox.charging.financeconnect.com.br:8080/charge-accounts/?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/banks/>; rel=banks,
        <http://sandb[...]
