---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"95720841461071","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/d27febc8-af0f-4ace-b04f-1f6a2a878a71/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/d27febc8-af0f-4ace-b04f-1f6a2a878a71/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 21:40:59 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/d27febc8-af0f-4ace-b04f-1f6a2a878a71/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ae18f08bee8b0fc1680358723d84d70d520edf68"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "d27febc8-af0f-4ace-b04f-1f6a2a878a71", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/d27febc8-af0f-4ace-b04f-1f6a2a878a71/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "o2Q2jKrFT6ip4sFifK656g==", "etag": "ae18f08bee8b0fc1680358723d84d70d520edf68",
        "national_identifier": "95.720.841/4610-71", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Mon, 14 Oct 2013 21:40:59 GMT
- request:
    method: delete
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/d27febc8-af0f-4ace-b04f-1f6a2a878a71/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"ae18f08bee8b0fc1680358723d84d70d520edf68"'
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Oct 2013 21:41:00 GMT
recorded_with: VCR 2.5.0
