---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"87415106717608","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/2c8cd3a0-7ec8-4921-9c14-5e73c8d01f13/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/2c8cd3a0-7ec8-4921-9c14-5e73c8d01f13/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 21:41:05 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/2c8cd3a0-7ec8-4921-9c14-5e73c8d01f13/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"d35a0d7fc96850e250525a946115d7a0bded7467"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "2c8cd3a0-7ec8-4921-9c14-5e73c8d01f13", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/2c8cd3a0-7ec8-4921-9c14-5e73c8d01f13/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "sCXUQu5/QIyQAyMTEvzOlA==", "etag": "d35a0d7fc96850e250525a946115d7a0bded7467",
        "national_identifier": "87.415.106/7176-08", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Mon, 14 Oct 2013 21:41:06 GMT
- request:
    method: get
    uri: http://:sCXUQu5%2FQIyQAyMTEvzOlA%3D%3D@sandbox.charging.financeconnect.com.br:8080/domain/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"d35a0d7fc96850e250525a946115d7a0bded7467"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts
    body:
      encoding: UTF-8
      string: '{"uuid": "2c8cd3a0-7ec8-4921-9c14-5e73c8d01f13", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/2c8cd3a0-7ec8-4921-9c14-5e73c8d01f13/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "sCXUQu5/QIyQAyMTEvzOlA==", "etag": "d35a0d7fc96850e250525a946115d7a0bded7467",
        "national_identifier": "87.415.106/7176-08", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Mon, 14 Oct 2013 21:41:06 GMT
recorded_with: VCR 2.5.0
