---
http_interactions:
- request:
    method: post
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/
    body:
      encoding: UTF-8
      string: '{"supplier_name":"Springfield Elemenary School","address":"1608 Florida
        Avenue","city_state":"Greenwood/SC","zipcode":"29646","national_identifier":"51409162867147","description":"The
        mission of Greenwood School District 50 is to educate all students to become
        responsible and productive citizens."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <http://sandbox.charging.financeconnect.com.br/account/domains/3b037b5a-6069-488d-ba7e-9eb70d7c2c34/>;
        rel=domain, <http://sandbox.charging.financeconnect.com.br/account/domains/>;
        rel=domains
      Location:
      - http://sandbox.charging.financeconnect.com.br/account/domains/3b037b5a-6069-488d-ba7e-9eb70d7c2c34/
    body:
      encoding: UTF-8
      string: CREATED
  recorded_at: Mon, 14 Oct 2013 21:41:02 GMT
- request:
    method: get
    uri: http://:AwdhihciTgORGUjnkuk1vg%3D%3D@sandbox.charging.financeconnect.com.br:8080/account/domains/3b037b5a-6069-488d-ba7e-9eb70d7c2c34/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7f4c34b81e0e1df7a1c9a707fbd14a3ab3f8d21a"'
      Link:
      - <http://sandbox.charging.financeconnect.com.br/charge-accounts/>; rel=charge_accounts,
        <http://sandbox.charging.financeconnect.com.br/account/domains/>; rel=domains,
        <http://sandbox.charging.financeconnect.com.br/domain/>; rel=domain, <http://sandbox.charging.financeconnect.com.br/account/>;
        rel=service_account
    body:
      encoding: UTF-8
      string: '{"uuid": "3b037b5a-6069-488d-ba7e-9eb70d7c2c34", "uri": "http://sandbox.charging.financeconnect.com.br/account/domains/3b037b5a-6069-488d-ba7e-9eb70d7c2c34/",
        "supplier_name": "Springfield Elemenary School", "zipcode": "29646", "city_state":
        "Greenwood/SC", "token": "zt8V/ZbUQTaPa8GNNiktRA==", "etag": "7f4c34b81e0e1df7a1c9a707fbd14a3ab3f8d21a",
        "national_identifier": "51.409.162/8671-47", "address": "1608 Florida Avenue",
        "description": "The mission of Greenwood School District 50 is to educate
        all students to become responsible and productive citizens."}'
  recorded_at: Mon, 14 Oct 2013 21:41:03 GMT
recorded_with: VCR 2.5.0
